.alert {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  padding: 0.9rem 1.25rem;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  gap: 1.25rem;
  width: auto;
  border-radius: var(--border-rds);
  align-items: center;
  margin-bottom: 1.25rem;
}

.alert-success {
  background: rgba(76, 175, 80, 0.3);
  color: var(--success);
}

.alert-error {
  background: rgba(239, 83, 80, 0.3);
  color: var(--danger);
}

.alert-info {
  background: rgba(3, 199, 244, 0.3);
  color: var(--info);
}

.alert-warning {
  background: rgba(255, 152, 0, 0.3);
  color: var(--warning);
}
