.navigation-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navigation-bar .nav-logo {
  font-size: 1.3rem;
  font-weight: 600;
}

.navigation-bar .gap {
  flex-grow: 1;
}

.navigation-bar .nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navigation-bar .nav-list .nav-item {
  list-style: none;
}
