@import url("./global.css");
@import url("./components.css");

.wrapper {
  max-width: 1400px;
  margin: auto;
}

/* header */
header {
  height: 81px;
  background: var(--white);
  z-index: 100;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.nav {
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.logo {
  width: 150px;
}

.flex-gap {
  flex-grow: 1;
}

.github-button {
  font-size: 1rem;
  font-weight: 600;
  background: var(--primary-light);
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 10px;
}

/* main */
.main {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* sidebar */
.sidebar-menu {
  position: sticky;
  top: 101px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  overflow-y: auto;
  max-height: calc(100vh - 101px);
  width: 250px;
}

.sidebar-menu section {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-menu h6 {
  font-size: 1.15rem;
  margin-bottom: 5px;
}

.sidebar-menu a {
  padding: 10px 20px;
  background: var(--primary-light);
  border-radius: 5px;
  font-weight: 400;
  transition: 0.7s;
}

.sidebar-menu a:hover {
  transform: translateY(-6px);
  font-weight: 700;
}

/* content */
.content-section {
  padding: 0 100px;
  margin-bottom: 50px;
}

.content-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.content-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.intro {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.content-section section {
  margin: 30px 0;
}

.code {
  width: 100%;
  border: none;
  margin-top: 50px;
  height: 240px;
}

.example {
  border: 1px solid var(--secondary);
  border-radius: var(--border-rds);
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
}
